dist/index.html
<!DOCTYPE html>
<html><!--[if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="ru" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ru">
<!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <link rel="shortcut icon" href="#">
    <title>Etaloo
    </title>
  <link href="./css/index.css" rel="stylesheet"></head>
  <body>
<header class="whiteBG">
  <div class="nav_header">
    <div class="container">
      <div class="nav_line">
        <div class="logo_text"><a href="#">Etaloo</a></div>
        <div class="navigation"><i id="menu_button" class="fa fa-bars" aria-hidden="true"></i>
          <ul class="hide_menu" id="menu">
            <li><a href="#charact">характеристики</a></li>
            <li><a href="#benefits">преимущества</a></li>
            <li><a href="#photos">фото</a></li>
            <li><a href="#order">заказать</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="header_main">
    <h1>Etaloo</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-12 bag_img">
          <div class="img-container"><img src="images/bag_img.jpg">
            <div class="img-border"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="bag-text">оригинальный дизайн, натуральная кожа, идеальные швы</p>
        </div>
      </div>
    </div>
  </div>
  <div class="header_bottom"><img src="images/venzel.png"></div>
</header>
    <div class="charact" id="charact">
      <div class="img_block_mini"><img src="images/bags_img.jpg"></div>
      <div class="text_block">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-5">
              <h3 class="text_grey">Характеристики сумки</h3>
              <div class="benefits_border"></div>
              <div class="caract_info">
                <p>Размер:<span>33 X 23 X 13 см</span></p>
                <p>Главный материал:<span>Кожа</span></p>
                <p>Материал подкладки:<span>Кожа</span></p>
                <p>Жесткость:<span>Мягкая</span></p>
                <p>Тип застежки:<span>Молния</span></p>
                <p>Плечевой ремень:<span>1</span></p>
                <p>Ручки:<span>2</span></p>
                <p>Цвет:<span>Синий, черный, красный</span></p>
                <p>Отделения:<span>Основное/для мелочи/для телефона</span></p>
                <p>Перегородка на молнии:<span>Да</span></p>
                <p>Потайной карман:<span>Да</span></p>
                <p>Наружный карман:<span>Да</span></p><br>
                <p>Отделения:</p>
                <p><span>- Главный отдел на молнии</span></p>
                <p><span>- Меньший отдел через перегородку</span></p>
                <p><span>- Отдел для телефона</span></p>
                <p><span>- Отдел для карточек</span></p>
                <p><span>- Два маленьких отдела на замках</span></p>
                <p><span>- Потайное отделение в заммке</span></p>
              </div>
            </div>
            <div class="col-lg-6 col-md-7">
              <div class="img_block"><img src="images/bags_img.jpg"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sale_block">
      <div class="sale_img"><img src="images/sale_star.png"></div>
    </div>
    <div class="benefits" id="benefits">
      <h2 class="wow">Наши Преимущества</h2>
      <div class="benefits_border"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="benefits_plate">
              <div class="benefits_image"><img src="images/circle1.jpg"></div>
              <div class="benefits_texts">
                <h4>Работа по всей украине</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="benefits_plate">
              <div class="benefits_image"><img src="images/circle2.jpg"></div>
              <div class="benefits_texts">
                <h4>Мы не берем с вас предоплату</h4>
                <p>Оплата заказа осуществляется при получении в отделении "Новой почты"</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="benefits_plate">
              <div class="benefits_image"><img src="images/circle3.jpg"></div>
              <div class="benefits_texts">
                <h4>Гарантии на товар</h4>
                <p>Перед отправкой товары проходят 100% проверку. Мы вернем вам деньги, если что-то окажется не так. Мы соблюдаем закон "О защите прав потребителей". Вы в праве отказаться от покупки в течение 14 дней с момента получения заказа</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="benefits_plate">
              <div class="benefits_image"><img src="images/circle1.jpg"></div>
              <div class="benefits_texts">
                <h4>Всегда в тренде</h4>
                <p>Мы ценим людей, которые с нами на одной волне</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="achievements">
      <h2 class="wow">Наши Достижения</h2>
      <h3>которыми мы можем гордиться</h3>
      <div class="benefits_border"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6"><img src="images/img1.png"></div>
          <div class="col-lg-3 col-md-6"><img src="images/img2.png"></div>
          <div class="col-lg-3 col-md-6"><img src="images/img3.png"></div>
          <div class="col-lg-3 col-md-6"><img src="images/img4.png"></div>
        </div>
      </div>
    </div>
    <div class="happy"><img src="images/happy.png" width="100%"></div>
    <div class="photos" id="photos">
      <h2 class="wow">Фотографии</h2>
      <h3>убедитесь в высоком качестве</h3>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6 col-sm-12"><img src="images/img7.jpg"></div>
          <div class="col-lg-4 col-md-6 col-sm-6 col-sm-12"><img src="images/img8.jpg"></div>
          <div class="col-lg-4 col-md-6 col-sm-6 col-sm-12">
            <div class="img_container"><img src="images/img9.jpg"></div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 col-sm-12">
            <div class="img_container"><img src="images/img10.jpg"></div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 col-sm-12"><img src="images/img11.jpg"></div>
          <div class="col-lg-4 col-md-6 col-sm-6 col-sm-12"><img src="images/img12.jpg"></div>
        </div>
      </div>
    </div>
    <div class="order" id="order">
      <div class="grad"></div>
      <h2 class="wow">Заказать сумку со скидкой</h2>
      <h3>укажите ваш номер телефона и мы вам перезвоним</h3>
      <form class="contact-form" method="post" action="http://cc.salesup-crm.com/PostOrder.aspx">
        <div class="order_container">
          <div class="form-img"><img src="images/sale.png"></div>
          <div class="form-info">
            <input placeholder="Телефон" name="phone" required="">
            <input placeholder="Ваше Имя" name="name" required="">
            <input placeholder="Город/№ Новой Почты" name="order_custom" required="">
          </div>
        </div>
        <div class="radio-buttons">
          <label class="radio-container">синий
            <input type="radio" checked="checked" name="comment" value="BLUE"><span class="checkmark"></span>
          </label>
          <label class="radio-container">черный
            <input type="radio" name="comment" value="BLACK"><span class="checkmark"></span>
          </label>
          <label class="radio-container">красный
            <input type="radio" name="comment" value="RED"><span class="checkmark"></span>
          </label>
        </div>
        <div class="order-button">
          <button>заказать</button>
        </div><input class="product_id" name="product_id" type="hidden" value="3938">
<input name="result_url" type="hidden" value="http://attlas.com.ua/etaloo_new/index2.html">
<input name="referrer" type="hidden" value="">
<input name="order_url" type="hidden" value="">
<input name="transaction_id" type="hidden" value="0">
<input name="partner_id" type="hidden" value=" ">
<input name="link_id" type="hidden" value="0">
      </form>
    </div>
<footer>
  <div class="footer-info">
    <p>ООО "МИЛХАУС", ИНН 7714980238, КПП 771401001</p>
    <p>г. Киев, Л. Украинки, д. 5, корп. 5а</p><a href="#">Политика конфиденциальности</a>
  </div>
</footer>
  <script type="text/javascript" src="js/index.js"></script></body>
</html>

app/pages/index/index.pug
extends ../base.pug
block main

    .charact#charact
        .img_block_mini
            img(src=require("../../components/images/bags_img.jpg"))
        .text_block
            .container
                .row
                    .col-lg-6.col-md-5
                        h3.text_grey Характеристики сумки
                        .benefits_border
                        .caract_info
                            p Размер:
                                span 33 X 23 X 13 см
                            p Главный материал:
                                span Кожа
                            p Материал подкладки:
                                span Кожа
                            p Жесткость:
                                span Мягкая
                            p Тип застежки:
                                span Молния
                            p Плечевой ремень:
                                span 1
                            p Ручки:
                                span 2
                            p Цвет:
                                span Синий, черный, красный
                            p Отделения:
                                span Основное/для мелочи/для телефона
                            p Перегородка на молнии:
                                span Да
                            p Потайной карман:
                                span Да
                            p Наружный карман:
                                span Да
                            br
                            p Отделения:
                            p
                                span - Главный отдел на молнии
                            p
                                span - Меньший отдел через перегородку
                            p
                                span - Отдел для телефона
                            p
                                span - Отдел для карточек
                            p
                                span - Два маленьких отдела на замках
                            p
                                span - Потайное отделение в заммке
                    .col-lg-6.col-md-7
                        .img_block
                            img(src=require("../../components/images/bags_img.jpg"))

    .sale_block
        .sale_img
            img(src=require("../../components/images/sale_star.png"))
    .benefits#benefits
        h2.wow Наши Преимущества
        .benefits_border
        .container
            .row
                .col-lg-3.col-md-6
                    .benefits_plate
                        .benefits_image
                            img(src=require("../../components/images/circle1.jpg"))
                        .benefits_texts
                            h4 Работа по всей украине
                .col-lg-3.col-md-6
                    .benefits_plate
                        .benefits_image
                            img(src=require("../../components/images/circle2.jpg"))
                        .benefits_texts
                            h4 Мы не берем с вас предоплату
                            p Оплата заказа осуществляется при получении в отделении "Новой почты"
                .col-lg-3.col-md-6
                    .benefits_plate
                        .benefits_image
                            img(src=require("../../components/images/circle3.jpg"))
                        .benefits_texts
                            h4 Гарантии на товар
                            p Перед отправкой товары проходят 100% проверку. Мы вернем вам деньги, если что-то окажется не так. Мы соблюдаем закон "О защите прав потребителей". Вы в праве отказаться от покупки в течение 14 дней с момента получения заказа

                .col-lg-3.col-md-6
                    .benefits_plate
                        .benefits_image
                            img(src=require("../../components/images/circle1.jpg"))
                        .benefits_texts
                            h4 Всегда в тренде
                            p Мы ценим людей, которые с нами на одной волне
    .achievements
        h2.wow Наши Достижения
        h3 которыми мы можем гордиться
        .benefits_border
        .container
            .row
                .col-lg-3.col-md-6
                    img(src=require("../../components/images/img1.png"))
                .col-lg-3.col-md-6
                    img(src=require("../../components/images/img2.png"))
                .col-lg-3.col-md-6
                    img(src=require("../../components/images/img3.png"))
                .col-lg-3.col-md-6
                    img(src=require("../../components/images/img4.png"))

    .happy
        img(src=require("../../components/images/happy.png"), width="100%")

    .photos#photos
        h2.wow Фотографии
        h3 убедитесь в высоком качестве
        .container
            .row
                .col-lg-4.col-md-6.col-sm-6.col-sm-12
                    img(src=require("../../components/images/img7.jpg"))
                .col-lg-4.col-md-6.col-sm-6.col-sm-12
                    img(src=require("../../components/images/img8.jpg"))
                .col-lg-4.col-md-6.col-sm-6.col-sm-12
                    .img_container
                        img(src=require("../../components/images/img9.jpg"))
                .col-lg-4.col-md-6.col-sm-6.col-sm-12
                    .img_container
                        img(src=require("../../components/images/img10.jpg"))
                .col-lg-4.col-md-6.col-sm-6.col-sm-12
                    img(src=require("../../components/images/img11.jpg"))
                .col-lg-4.col-md-6.col-sm-6.col-sm-12
                    img(src=require("../../components/images/img12.jpg"))

    .order#order
        .grad
        h2.wow Заказать сумку со скидкой
        h3 укажите ваш номер телефона и мы вам перезвоним
        form.contact-form(method="post" action="http://cc.salesup-crm.com/PostOrder.aspx")
            .order_container
                .form-img
                    img(src=require("../../components/images/sale.png"))
                .form-info
                    input(placeholder="Телефон" name="phone" required="")
                    input(placeholder="Ваше Имя" name="name" required="")
                    input(placeholder="Город/№ Новой Почты" name="order_custom" required="")
            .radio-buttons
                label.radio-container синий
                    input(type="radio", checked="checked", name="comment" value="BLUE")
                    span.checkmark
                label.radio-container черный
                    input(type="radio", name="comment" value="BLACK")
                    span.checkmark
                label.radio-container красный
                    input(type="radio", name="comment" value="RED")
                    span.checkmark
            .order-button
                button заказать
            <input class="product_id" name="product_id" type="hidden" value="3938">
            <input name="result_url" type="hidden" value="http://attlas.com.ua/etaloo_new/index2.html">
            <input name="referrer" type="hidden" value="">
            <input name="order_url" type="hidden" value="">
            <input name="transaction_id" type="hidden" value="0">
            <input name="partner_id" type="hidden" value=" ">
            <input name="link_id" type="hidden" value="0">
